@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
	--black: #333;
	--light-color: #cdaa7c;
	--box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	text-transform: capitalize;
	transition: all .2s linear;
}

html {
	font-size: 70%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	background: var(--black);
	padding: 1rem 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
	z-index: 10000;
}

header .logo img {
	height: auto;
}

header .navbar a {
	font-size: 1.7rem;
	padding: .5rem 1.5rem;
	color: var(--light-color);
	border: .1rem solid transparent;
  font-family: none;
}

header .navbar a:hover {
	color: #fff;
	border: .1rem solid rgba(205, 170, 124, 0.2);
}


#blog-spot{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10vw;
}

.blog-heading span{
  color: #219150;

}
.blog-heading h3{
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}
.team-img{
  width: 250px;
  height: 250px;
  margin:35px 0;
  object-fit:cover;
  object-position: center; 
  border: 8px solid gold;
  border-radius: 50%;
  box-shadow: 0 10px 90px rgb(249, 241, 83);
}

.team-img:hover{
  width: 290px;
  height: 290px;
  object-fit: cover;
  border: 6px solid rgb(243, 215, 61);
}

.blog-container{
  display: flex;
  justify-content: center;
  flex-direction: row ;
  align-items: center;
  margin: 20px 0;
  
}

.blog-box{
  width: 400px;
  height: 450px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin: 20px; 
}

.blog-img{
  width: 100%;
  height: 250px;
}

.blog-img img{
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;  
  border-radius: 50%;
}

.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text span{
  color: black;
  font-size: 0.9rem;
}

.blog-text .blog-title{
  padding-top: 22px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  text-decoration: none;
}

.blog-text .blog-title:hover{
  color: #219150;
  transition: all ease 0.3s;
}

.blog-text p{
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 20px 0;
}

.blog-text a{
  color: #0f0f0f;
  text-decoration: none;
}

.blog-text a:hover{
  color: #219150;
}

@media screen and (max-width:1000px) {
  .blog-heading{
    padding-top: 52vw;
  }
}